@import url('./_accounting/card-link__image_accounting.css');
@import url('./_documents/card-link__image_documents.css');
@import url('./_library/card-link__image_library.css');

.card-link__image {
    width: 100%;
    height: 12em;
    background-size: cover;
}