@import url('./__container/search-section__container.css');
@import url('./__input-search/search-section__input-search.css');
@import url('./__item-container/search-section__item-container.css');
@import url('./__main-container/search-section__prop-container.css');
@import url('./__link/search-section__link.css');
@import url('./__title/search-section__title.css');

.search-section {
  padding: 2em 2em 2em 0em;
  display: flex;
  flex-direction: column;
  background-color: white;
}