.menu-link.menu-link_selected {

  padding-bottom: 10px;
  border-bottom: 2px solid white;

  /* color: black; */
  /* background-color: white; */

  /* background-color: rgb(101, 121, 155);
  padding: .5em;
  border-radius: .5em; */

}