.menu-link.menu-link_selected {

  padding-bottom: 10px;
  border-bottom: 2px solid white;

}

/*---------------1024px-----------------*/
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .menu-link.menu-link_selected {

  }
}

/*---------------768px-----------------*/
@media screen and (min-width: 540px) and (max-width: 768px) {
  .menu-link.menu-link_selected {
    padding-bottom: 1px;
  }
}

/*---------------539px-----------------*/
@media screen and (max-width: 539px) {
  .menu-link.menu-link_selected {
    padding-bottom: 1px;
  }
}