.service-section__name {
  font-size: 1.5em;
  font-weight: bold;
  padding: 0;
  margin: 0 1em 0 0;
}

/*---------------1024px-----------------*/
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .service-section__name {

  }
}

/*---------------768px-----------------*/
@media screen and (min-width: 540px) and (max-width: 768px) {
  .service-section__name {
    margin: 0 .5em 0 0;
  }
}

/*---------------539px-----------------*/
@media screen and (max-width: 539px) {
  .service-section__name {
    display: none;
  }
}