@import url('./__name/service-section__name.css');
@import url('./__description/service-section__description.css');
@import url('./__menu/service-section__menu.css');
@import url('./__view/service-section__view.css');
@import url('./__menu-list/service-section__menu-list.css');
@import url('./__menu-item/service-section__menu-item.css');
@import url('./__link/service-section__link.css');
@import url('./__submenu-list/service-section__submenu-list.css');
@import url('./__submenu-item/service-section__submenu-item.css');
@import url('./__sublink/service-section__sublink.css');
@import url('./__status-container/service-section__status-container.css');
@import url('./__span/service-section__span.css');
@import url('./__icon/service-section__icon.css');
@import url('./__icon-container/service-section__icon-container.css');
@import url('./__container/service-section__container.css');



.service-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  padding: 3em;
}