@import url('./_not-visible/service-section__menu-item_not-visible.css');

.service-section__menu-item {
  display: inline-block;
  list-style: none;
  margin-left: 1em;
  margin-top: .3em;
  position: relative;

  padding: .5em;
  border: solid 1px rgb(101,121,155);
  border-radius: 1em;
}

.service-section__menu-item:hover {
}

.service-section__menu-item:hover .service-section__submenu-list {

}