.footer__link {

  display: flex;
  color: white;
  font-weight: normal;
  margin: 0 .5em 0 .5em;
  padding-right: 2em;
  text-decoration: none;

}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .footer__link {

  }
}

/*---------------768px-----------------*/
@media screen and (min-width: 540px) and (max-width: 768px) {
  .footer__link {
    padding: .5em 0 0 0;
    margin-bottom: 0;
  }
}

/*---------------539px-----------------*/
@media screen and (max-width: 539px) {
  .footer__link {
    padding: .5em 0 0 0;
    margin: 0;
  }
}