@import url('./__title/info-card__title.css');

.info-card {
  padding: 1em;
  display: flex;
  flex-direction: column;
  border-radius: .4em;
  text-decoration: none;
  /*border: 1px solid rgba(101, 121, 155,.8);*/
  box-shadow: 0 .5em .5em rgba(101, 121, 155,.8);
  justify-content: center;
}

.info-card:hover {
  transform: translateY(-.3em);
}