.brief__subtitle {

    /* max-width: 70%; */
    font-size: 2em;
    font-weight: bold;
    color: white;
    margin: 0;
    padding: 0;
    /* padding-bottom: 1em; */
    z-index: 1;

}

/*---------------1024px-----------------*/
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .brief__subtitle {
    font-size: 1.8em;
    text-align: center;
  }
}

/*---------------768px-----------------*/
@media screen and (min-width: 540px) and (max-width: 768px) {
  .brief__subtitle {
    font-size: 1.6em;
    text-align: center;
  }
}

/*---------------539px-----------------*/
@media screen and (max-width: 539px) {
  .brief__subtitle {
    font-size: 1.4em;
    text-align: center;
  }
}