@import url('./__title/preloader-container__title.css');
@import url('./__image/preloader-container__image.css');
@import url('./_absolute/preloader-container_absolute.css');

.preloader-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2em auto;
}