.logo_place_header {
    /* max-width: 12.5%; */
    max-width: 15%;
    padding: -.7em 0 -.7em 0;
}

/*---------------1024px-----------------*/
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .logo_place_header {

  }
}

/*---------------768px-----------------*/
@media screen and (min-width: 540px) and (max-width: 768px) {
  .logo_place_header {
    display: none;
  }
}

/*---------------539px-----------------*/
@media screen and (max-width: 539px) {
  .logo_place_header {
    display: none;
  }
}