.header__button-login {
    /* width: 4em; */
    /* padding: .5em; */
    /*margin-left: 2em;*/
    margin: 0 1em 0 auto;
    background-color: transparent;
    /*height: 2em*/;
    /* height: 100%;
    font-size: 1.3em;
    font-weight: normal;
    display: flex;
    justify-content: center; */
}

.header__button-login:hover {
  background-color: transparent;
  border-radius: .5em;
  border: 1px solid white;
}