@import url('./_large-size/info-section__image_large-size.css');
@import url('./_small-size/info-section__image_small-size.css');

.info-section__image {
  /* max-width: 50%; */
  background-color: rgb(101,121,155);
  height: auto;
  margin-right: 3em;
  padding: .7em;
  border-radius: 1em;
}

/*---------------1024px-----------------*/
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .info-section__image {
    padding: .3em;
    border-radius: .5em;
  }
}

/*---------------768px-----------------*/
@media screen and (min-width: 540px) and (max-width: 768px) {
  .info-section__image {
    padding: .3em;
    border-radius: .5em;
  }
}

/*---------------539px-----------------*/
@media screen and (max-width: 539px) {
  .info-section__image {
    padding: .3em;
    border-radius: .5em;
  }
}