@import url('./__list/tabs-container__list.css');
@import url('./__tabs-content/tabs-container__tabs-content.css');
@import url('./__item/tabs-container__item.css');
@import url('./__list-item/tabs-container__list-item.css');
@import url('./__button/tabs-container__button.css');

.tabs-container {
  width: 100%;
  margin: 0 auto;
  padding: 0;
}