.search-section__prop-container {
  display: flex;
  flex-direction: row;
  margin-top: .5em;
  flex-wrap: wrap;
}

/*---------------1024px-----------------*/
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .search-section__prop-container {

  }
}

/*---------------768px-----------------*/
@media screen and (min-width: 540px) and (max-width: 768px) {
  .search-section__prop-container {

  }
}

/*---------------539px-----------------*/
@media screen and (max-width: 539px) {
  .search-section__prop-container {

  }
}